
<!-- afficher le template full-width -->
<!-- property binding -->
<app-template-full-width [title]="titleParent" *ngIf="collection$ | async as collection">

  <!-- envoyer dans le content de app-template-full-width -->
  <!-- ng-content -->
  <app-table-light [headers]='headers' >
    <!-- afficher le body du tableau -->
    <tr *ngFor='let i of collection'>

      <!--  table data cells (td)-->
      <td>{{i.typePresta | uppercase }}</td>
      <td>{{i.client}}</td>
      <td>{{i.nbJours}}</td>
      <td>{{i.tjmHt}}</td>

      <td >{{i | total | currency }}</td>
      <td>{{i | total : true | currency}}</td>
      <!-- <td [ngClass]="{
        'state-cancelled' : i.state === 'CANCELLED',
        'state-option' : i.state === 'OPTION',
        'state-confirmed': i.state === 'CONFIRMED'
      }"> -->
      <td appState [etat]='i.state'>
        <select (change)='changeState(i, $event)'>
          <!-- comparer state avec i.state -->
          <option *ngFor='let state of states' [value]='state' [selected]='state === i.state'>{{state}}</option>

        </select>

      </td>


    </tr>

  </app-table-light>
  <app-btn></app-btn>


</app-template-full-width>





